/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Custom Css */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
}
body {
    font-family: "Nunito";
    line-height: 1.5;
    font-size: 1rem;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
}
.flex {
    display: flex;
    justify-content: space-between;
}
.center {
    display: flex;
    justify-content: center;
}
.text-center {
    align-items: center;
}
.padding {
    padding: 2rem 0;
}
.header {
    padding: 1.2rem 0;
    position: absolute;
    
    width: 100%;
}
.brand {
    font-size: 2rem;
}
.brand {
    color: white;
}
.nav {
    padding: 0.5rem 0;
    
}
.full-width {
    width: 100%;
}
.nav a {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: white;
}
.nav li {
    margin-left: 3rem;
}
 #toggle {
    display: none;
}
.bars {
    color: transparent;
}
.btn {
    background-color: #f9234d;
    width: 100px;
    height: 50px;
    display: inline-block;
    text-align: center;
    padding: 12px 13px;
    border-radius: 10px;
}
.nav .btn {
    text-transform: capitalize;
    font-size: 1.1rem;
}
.active {
    color: #f9234d;
}
.conference {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, rgba(53, 35, 166, 0.7), rgba(53, 35, 166, 0.7)), url("assets/banner.png"), no-repeat;
    height: 100vh;
    background-size: cover;
}
.conference h2 {
    text-align: left;
}
.flex-40 {
    flex: 0 1 40%;
}
.flex-15 {
    flex: 0 1 15%;
}
.flex-30 {
    flex: 0 1 30%;
}
.flex-50 {
    flex: 0 1 50%;
}
h2 {
    font-size: 3rem;
    color: white;
}
.paragraph {
    color: white;
    font-size: 1.2rem;
    padding-top: 2rem;
}
.btn-primary, .btn-secondary {
    color: white;
    width: 15rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    padding: 8px 0;
}
.font-0 {
    font-size: 0;
}
.about-event {
    padding: 2.5rem 0;
}
.about-event h2 {
    color: black;
    text-align: left;
}
.about-event .paragraph {
    color: #76757b;
}
.join {
    width: 100%;
    background-color: #ced8e6;
}
.join .flex-30 {
    margin-bottom: 4rem;
}
 h2     {
    color: black;
    text-align: center;
}
.join article {
    position: relative;
    border: 2px dashed #f9234d;
    padding: 1.5rem 1rem 0rem 1rem;
}
.join h3 {
    font-size: 2rem;
}
.join p {
    font-size: 1rem;
    color: #76757b;
}
.color {
    color: #f9234d;
}
.number {
    font-size: 2rem;
    font-weight: 700;
    width: 1rem;
    height: 2rem;
    background-color: #ced8e6;
    position: absolute;
    top: -1.2rem;
    left: 1.5rem
}
.margin-bot {
    margin: 3rem;
}
.schedule {
    text-align: center;
}
.date {
    font-size: 2rem;
    font-weight: 900;
    position: relative;
    align-self: center;
    height: 9rem;
    z-index: 1;
    border: 0.2rem dashed #f9234d;
    border-radius: 50%;
    background-color: white;
}
.date-active {
    background-color: #f9234d;
    color: white;
}
.date:hover {
    background-color: #f9234d;
    color: white;
}
.line {
    position: absolute;
    width: 0;
    height: 35rem;
    display: inline-block;
    border-left: 0.2rem dashed #f9234d;
    top: 20%;
    left: 50%;
}
.schedule article {
    margin-bottom: 3rem;
}
.s-img img{
    
    border-radius: 0.3rem;
}
.schedule h3 {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 500;
}
.schedule p {
    text-align: left;
    color: #76757b;
}
.icon {
    background-color: #ced8e6;

}
.icons {
    text-align: center;
    padding: 3rem;
    border-radius: 0.3rem;
    font-weight: 700;
    font-size: 1.5rem;
}
.idea-active {
    background-color: #f9234d;
    color: white;
}
.count {
    display: block;
    font-weight: 800;
    margin: 0.5rem 0;
}
.video {
    position: relative;
}
.video img {
    width: 100%;
    border-radius: 1.5rem;
}
.circle {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 8rem;
    height: 8rem;
    background-color: white;
    border-radius: 50%;
}
.fa-play {
    font-size: 2.35rem;
    color: #f9234d;
    margin-top: 40px;
}
.new {
    background-color: #ced8e6;
}
.news-heading {
    font-size: 1.3rem;
    font-weight: 800;
}
.news-paragraph {
    color: #76757b;
    font-size: 1rem;
    margin-bottom: 2rem;
}
.new a {
    color: black;
    font-size: 1.5rem;
    text-decoration: underline;
}
.nav-link a {
    color: #f9234d;
}
.new a:hover {
    color: #f9234d;
}
.footer {
    background-color: #23347b;
}
.footer-links {
    font-size: 1.4rem;
    font-weight: 700;
    color: #76757b;
}
.social {
    justify-content: flex-start;
}
.quick, .follow {
    color: white;
    font-size: 1.5rem;
}
.square {
    background-color: #bcc0d2;
    color: #23347b;
    border-radius: 0.5rem;
    width: 2rem;
    height: 2rem;
    padding: 0.4rem 0;
    margin-right: 4rem;
}
.copyright {
    background-color: #102169;
    text-align: center;
    padding: 1.5rem 0;
    color: #76757b;
}
@media screen and (max-width: 768px) {
    html {
        font-size: 10px;
    }
    .paragraph {
        font-size: 3rem;
    }
    .new .news-paragraph {
        font-size: 1.6rem;
    }
    .news-heading {
        font-size: 2rem;
        margin-top: 1rem;
    }
    .column {
        flex-direction: column;
    }
    .wrap-reverse {
        flex-wrap: wrap-reverse;
    }
    .order {
        order: 1;
    }
   .conference h2 {
       font-size: 8rem;
   }
    .conference img {
        margin: 2rem 0;
    }
    .about-event {
        padding: 4rem 0;
    }
    .about-event h2 {
        font-size: 4rem;
        text-align: center;
        margin-top: 1rem;
    }
    .btn-primary {
        font-size: 2.3rem;
    }
    .join {
        padding: 4rem 0;
    }
    .join article {
        width: 90%;
        padding: 0;
    }
    .join h3 {
        font-size: 3.5rem;
    }
    .join p {
        font-size: 2rem;
    }
    .schedule-content {
        background-color: white;
    }
    .schedule h3 {
        font-size: 3rem;
    }
    .schedule p {
        font-size: 2rem;
    }
    .line {
        z-index: 1;
        height: 90%;
        top: 2.5%;
        left: 50%;
    }
    .date {
        margin-bottom: 2rem;
        width: 8rem;
        height: 8rem;
    }
    .schedule .para-schedule {
        border-bottom: 1px solid white;
        padding-bottom: 1rem;
    }
    .btn-secondary {
        padding: 1rem 0;
        font-size: 1.5rem;
    }
    .icon-wid {
        width: 100%;
    }
    .circle {
        left: 45%;
    }
    .fa-play {
        margin-top: 3rem;
    }
    .new .flex-30 {
        margin-bottom: 5rem;
    }
    .new {
        padding-bottom: 0;
    }
    .quick, .follow {
        text-align: center;
        margin-bottom: 0.1rem;
    }
    .follow {
        margin-top: 1rem;
    }
    .header .nav {
        display: inline-block;
        display: none;
        position: fixed;
        left:0;
        right:0;
        top:0;
        bottom: 0;
        width: 100%;
        height: 100vh;  
        background-color:  rgba(35, 52, 123, 0.9);
        z-index: 3;
    }
    .nav {
        text-align: center;
        padding-top: 20%;
    }
    .nav li {
        
        padding-bottom: 4rem;
    }
    .nav li a {
        font-size: 2rem;
    }
    .nav .btn {
        font-size: 2rem;
    }
    #toggle {
        display: none;
    }
    #toggle:checked ~ .nav {
        display: inline-block;
    }
    .bars {
        font-size: 2rem;
        color: #fff;
    }
    .bars {
        position: fixed;
        right: 3rem;
        top: 3rem;       
        z-index: 5;
    }
    .brand {
        font-size: 5rem;
        position: fixed;
        z-index: 5;
        left: 3rem;
        top: 3rem;
        
    }
}